--- 
---


<!DOCTYPE html>
<html>

<head>
    <title>My Portfolio page</title>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="Assets/img/favicon.ico" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="Assets/CSS/main.css">
</head>

<body>
    {% include header.html %}

    {% include about.html %}

    {% include work.html %}

    {% include courses.html %}

    {% include contact.html %}


    
    
    

    {% include footer.html %}

    
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="Assets/JS/functions.js"></script>
    <script src="Assets/JS/lightbox.min.js"> </script>

</body>

</html>
