<section>
    <h3 id="About">About Myself</h3>
    <div class="face-lockup">
        <div class="face-img"></div>
        <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
        <div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
        <div class="icon-browser">{% include icons/icon-browser.html %}</div>
        <div class="icon-video">{% include icons/icon-video.html %}</div>
        
    </div>
    <div class="blurb">
        <p><strong>Hi, my name is Vukašin, and I'm a Front-end developer.</strong><br> Or, at least, I'm looking to become one. To be more precise, I'm, what you'd call, a Junior, looking for a chance to work and learn more about this awesome field of work. Internet is great place if you want to learn anything, and boy, does it offer a variety of stuff. But, after a certain point, you just start to spin in circles, and the only way to progress further, is to get your hands dirty in the "real world".  </p>
    </div>
    <div class="skill-lockup">
        <div class="skill-unit">
            <div class="skill-label ">Communication</div>
            <div class="skill-icons skill-9">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        <div class="skill-unit">
            <div class="skill-label">Organization</div>
            <div class="skill-icons skill-8">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        <div class="skill-unit">
            <div class="skill-label">Learning</div>
            <div class="skill-icons skill-9">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        <div class="skill-unit">
            <div class="skill-label">Teaching</div>
            <div class="skill-icons skill-7">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        <div class="skill-unit">
            <div class="skill-label">Planning</div>
            <div class="skill-icons skill-8">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        <div class="skill-unit">
            <div class="skill-label">Visiual design</div>
            <div class="skill-icons skill-5">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        <div class="skill-unit">
            <div class="skill-label">UX design</div>
            <div class="skill-icons  skill-7">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        <div class="skill-unit">
            <div class="skill-label">Programing</div>
            <div class="skill-icons skill-6">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>
        

    </div>

</section>
