<section class="alt-section section-contact">
    <h3 id="Contact">Contact</h3>
    <div class="social-links">
        <a href="https://www.facebook.com/pvukasin" target="_blank" class="icon-facebook"></a>
        <a href="https://www.linkedin.com/in/vuka%C5%A1in-popovi%C4%87-5a149318/" target="_blank" class="icon-linkedin"></a>
        <a href="https://www.instagram.com/vukasin90/" target="_blank" class="icon-instagram"></a>
        <a href="https://github.com/Vukasin90" target="_blank" class="icon-github"></a>
    </div>

    <hr class="bar">

    <a class="biglink" href="mailto:vukasin90@gmail.com" target="_blank">vukasin90@gmail.com</a>

</section>