<footer>
    <div class="lockup">
        <a href="#top"><div class="logo">{% include icons/logo.html %}</div></a>
            <div class="content-wrap">
                <nav>
                    <a href="#About">About Me</a>
                    <a href="#Work">Work</a>
                    <a href="#courses">Courses</a>
                    <a href="#Contact">Contact</a>
                </nav>
            </div>
    </div>
    <p class="copyright">All content copyright&copy; 2017 - Vukasin</p>
</footer>