<section class="alt-section section-work">
    <h3 id="Work">Work</h3>
    <div class="work-belt">
            <div class="thumb-wrap">
            <div class="thumb-container">
                <div class="thumb-unit" data-folder="/work-1" style="background-image: url(Assets/img/work/proj-1/thumb.jpg")>
                    <div class="thumb-overlay">
                        <strong>Orbiting planets</strong>
                        <div class="zoom-icon"></div>
                    </div>
                </div>

                <div class="thumb-unit" data-folder="/work-2" style="background-image: url(Assets/img/work/proj-2/thumb.jpg")>
                    <div class="thumb-overlay">
                        <strong>Blog page</strong>
                        <div class="zoom-icon"></div>
                    </div>
                </div>

                <div class="thumb-unit" data-folder="/work-3" style="background-image: url(Assets/img/work/proj-3/thumb.jpg")>
                    <div class="thumb-overlay">
                        <strong>Google replica</strong>
                        <div class="zoom-icon"></div>
                    </div>
                </div>

                <div class="thumb-unit" data-folder="/work-4" style="background-image: url(Assets/img/work/proj-4/thumb.jpg")>
                    <div class="thumb-overlay">
                        <strong>Calculator</strong>
                        <div class="zoom-icon"></div>
                    </div>
                </div>

                <div class="thumb-unit" data-folder="/work-5" style="background-image: url(Assets/img/work/proj-5/thumb.jpg")>
                    <div class="thumb-overlay">
                        <strong>Health.Info</strong>
                        <div class="zoom-icon"></div>
                    </div>
                </div>

                <div class="thumb-unit" data-folder="/work-6" style="background-image: url(Assets/img/work/proj-6/thumb.jpg")>
                    <div class="thumb-overlay">
                        <strong>Berlin site</strong>
                        <div class="zoom-icon"></div>
                    </div>
                </div>

                <div class="thumb-unit" data-folder="/work-7" style="background-image: url(Assets/img/work/proj-7/thumb.jpg")>
                    <div class="thumb-overlay">
                        <strong>Brendi</strong>
                        <div class="zoom-icon"></div>
                    </div>
                </div>

                <div class="thumb-unit" data-folder="/work-8" style="background-image: url(Assets/img/work/proj-8/thumb.jpg")>
                    <div class="thumb-overlay">
                        <strong>Portfolio page</strong>
                        <div class="zoom-icon"></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="work-wrap">
            <div class="work-container">
                <div class="work-return">{% include icons/icon-back.html %}</div>
                <h4 class="project-title">Back</h4>
                <div class="project-load"></div>
            </div>
        </div>
    </div>
</section>